/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  margin: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

.btn-salir {
  padding: 5px 10px;
  background-color: #527680;
  border: none;
  cursor: pointer;
}


button:hover {
  background-color: #21a1f1;
}

div {
  margin-top: 20px;
}
